[Unit]
Description=Restrict Docker-published port {{ docker_port_allowlist_port }} to an allow-list ({{ docker_port_allowlist_rule_name }})
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/{{ docker_port_allowlist_rule_name }}-fw-rules.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
